# Practical B Data Preparation
In this practial we will be preparing data for use with some data mining applications.

Similar to last week we will be using Jupyter Notebooks, Google Collab, and Python/Pandas. The data for this week can be found on [GitHub](https://github.com/PaulHancock/COMP5009_pracs).

## Q3 from Chapter 2 of [Aggarwal](https://www.springer.com/gp/book/9783319141411)

We will be working with the Arrythmia data set from the UCI Machine Learning Repository at http://archive.ics.uci.edu/ml/datasets/arrhythmia. The data are available via github as [arrhythmia.data.with.header.csv](https://github.com/PaulHancock/COMP5009_pracs/blob/main/data/arrhythmia.data.with.header.csv)

Use Pandas to load the data and complete the following tasks: 
1. Load the data into a pandas data frame, converting '?' into `NaN`

1. Modify the values of the class attribute att280 as follows: 

  a. Convert value 1 to N 

  b. Convert value 16 to O 

  c. Convert other values to A 

1. Find and remove all attributes with more than 80% missing values.

1. Find all attributes with less than 5% missing values and replace these missing values with either the mean or the mode of the attribute.  

1. Discretize attributes att3 and att4 into 10 equi-width ranges and 10 equi-depth ranges respectively. 

1. Examine and comment on the intervals in each case. 

1. Standardize all numeric attributes to a mean of 0 and a standard deviation of 1. 

1. Detect all duplicate rows and remove them if found. 

1. Randomly sample 100 instances and save them as `test.csv`. Save the remaining instances as `train.csv`.

### Load the data
Load the data into a pandas data frame, converting '?' into `NaN`

Look at last week's prac and load the data into our data frame.

The link to the data file should be: https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/arrhythmia.data.with.header.csv

The difference here is that the csv file uses '?' to indicate missing values. This is annoying but pandas has a workaround.
Look at the help for the `pd.read_csv` to see what parameter you might use to indicate that '?' should be interpreted as `NaN`.

In [1]:
import pandas as pd

In [4]:
# load the data into our data frame
data_url = 'https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/arrhythmia.data.with.header.csv'
df = pd.read_csv(data_url, na_values = '?')

In [5]:
df.head()

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,...,att271,att272,att273,att274,att275,att276,att277,att278,att279,att280
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0,-0.1,3.9,25.4,62.8,7

### Modify att280
Modify the values of the class attribute att280 as follows:

a. Convert value 1 to N

b. Convert value 16 to O

c. Convert other values to A

Note that pandas has imported this column as a numerical type, but we are going to convert it into a string (object) type. Lets do this by making a new column of type object (single character strings), whith the values N, O, or A as indicated above.

An easy way of creating a new column (or Series as in the Pandas terminology) is to just copy and existing one.

In [ ]:
# Create a copy so that we don't try to edit the original
new_col = df['att280'].copy()
# we use the mask function to replace values inplace. Note that this will convert the series to type object.
new_col.mask(df['att280'] == 1,
             other='N',
             inplace=True)
# now do the same for O and A
new_col.mask ?

new_col.mask ?

# we now replace the existing column with our new series.
df['att280'] = new_col
df.head()

### Remove attributes
Find and remove all attributes with more than 80% missing values.

Finding the attributes with >80% missing values should be easy since we created a function for this last week. Lets copy that function and reuse it here:

In [ ]:
# Function from last week - copy and paste the function here
def n_missing(df):
    
  """
  For each attribute/column in the dataframe `df`, count the number of missing entries.
  Print the attribute name and the number/fraction of blank entries in the following format:
  <Colname> has <missing>/<total> blank entries (<frac>%)
  """

In [ ]:
n_missing(df)

Deleting the columns can be done with the `.drop()` function, we just need a list of columns to remove.

In [ ]:
# figure out which columns you want to drop from above, and put their names in the list below
cols_to_drop = []
df.drop(columns=cols_to_drop,
        inplace=True)

In [ ]:
# confirm that our data frame now has fewere columns
df.columns

### Replace missing values
Find all attributes with less than 5% missing values and replace these missing values with either the mean or the mode of the attribute.

In [ ]:
n_missing(df)

Look at the `fillna()` function for ways to replace the `NaN` values.

In [ ]:
# compute the mean
mean = df['att14'].mean()
# now use the fillna function to replace the NaN avalues with the mean value
df['att14'].fillna ?
# check that the replacement has worked.
df['att14'].head()

### Discritize attributes
Discretize attributes att3 and att4 into 10 equi-width ranges and 10 equi-depth ranges respectively. 

a. Examine and comment on the intervals in each case.

First lets get a summary of the attributes so that we can see what we are dealing with here

In [ ]:
# note that the index is now a list of attribute names
df[['att3', 'att4']].describe()

Look at the documentation for `qcut` and `cut` for help with this one.

In [ ]:
# use cut to create equal width bins
results, bins = pd.cut
print(results.value_counts(sort=False))
print(bins)
att3_10_equi_width = results

In [ ]:
# plot a histogram of the equiwidth data

In [ ]:
# now use qcut to create equal depth bins (or at least try)
results, bins = pd.qcut
print(results.value_counts(sort=False))
print(bins)
att3_10_equi_depth = results

In [ ]:
# plot a histogram

### Standardise numeric attributes
Standardize all numeric attributes to a mean of 0 and a standard deviation of 1.

So for each atttribute compute the mean ($\mu$) and the standard deviation ($\sigma$) and then replace the values with $z= \frac{x-\mu}{\sigma}$

In [ ]:
# example for one column, use this to create a loop that will apply this to all numeric columns
new_col = (df['att5'] - df['att5'].mean()) / df['att5'].std()
# check that the mean is 0 and std is 1
new_col.describe()

### Detect and remove duplicates
Detect all duplicate rows and remove them if found.

Look at `duplicated` as a starting point. Try to show all duplicates (the ones that we will remove).

In [ ]:
dups = df.duplicated()
dups

Removing duplicate rows can be done either by noting the index of the duplicates above and feeding that into the `drop()` function, or by using the `drop_duplicates()` function which combines the finding and dropping together.

In [ ]:
# using ~dups we are indexing on all rows of dups that are false (ie not duplicates)
df[~ dups]

# lets use drop_duplicates() to remove the duplicate rows

### Random sampling
Randomly sample 100 instances and save them as `test.csv`. Save the remaining instances as `train.csv`

Look at `sample` to generate a random selection of rows/instances

In [ ]:
test = df.sample
test

Now the inverse problem. Not so easy as there is no pandas function that will directly give us the inverse of the above.

In [ ]:
train = 
train

And we save these to a `.csv` file using the `save_csv` function.

In [ ]:
test.to_csv('test.csv')
train.to_csv('train.csv')

Look in the current directory to see these files and download them. On the left panel click the file explorer to see the files.

## Q13 from Chapter 3 of [Aggarwal](https://www.springer.com/gp/book/9783319141411)

Use the modified KDD Cup 1999 data set provided as `kddcup.csv` and specifically examine attribute `count`. 

1. The data are available via github as [kddcup.arff](https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/kddcup99.arff), load them as a pandas data frame

1. Compute the average Âµ and standard deviation Ïƒ of this attribute over 10,000 samples. 

1. Randomly select a subset of n samples from this data set with 
  n = 10; 20; 50; 100; 200; 500; 1000; 2000; 5000; 10000: 

  For each value of n compute the average $e_n$ of the attribute over the subset and then derive the following quantity: 

  $z_n=\frac{|e_n-\mu|}{\sigma}$

  You should repeat this at least 10 times and obtain the average of zn. 

1. Plot $z_n$ versus n and make a comment on the graph you have plotted.

### Load the data

The data are available via github as [kddcup.csv](https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/kddcup99.arff), load them as a data frame

In [ ]:
import pandas as pd
import numpy as np
# This time the file is in arff format so we need a library that can read it
from scipy.io import arff
import urllib
import urllib.request

The file that we are working with is in `arff` format, which can't be read directly by pandas. Instead we use an arff loader from `scipy.io`, but we must first download the file before we can open it.

In [ ]:
data_url = 'https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/kddcup99.arff'
file_name = 'kddcup99.arff'
# this will download the file, look in your explorer to confirm
urllib.request.urlretrieve(data_url, file_name)

In [ ]:
# load the data from arff format
data = arff.loadarff(file_name)
df = pd.DataFrame(data[0])

### Compute $\mu$ and $\sigma$
Compute the average Âµ and standard deviation Ïƒ of this attribute over 10,000 samples.

In [ ]:
mu = 
sigma = 
print(f"For attribute `count`: Î¼={mu:.2f}, Ïƒ={sigma:.2f}")

### Random subsets
Randomly select a subset of n samples from this data set with 
  n = 10; 20; 50; 100; 200; 500; 1000; 2000; 5000; 10000: 

  For each value of n compute the average $e_n$ of the attribute over the subset and then derive the following quantity: 

  $z_n=\frac{|e_n-\mu|}{\sigma}$

  You should repeat this at least 10 times and obtain the average of zn.

In [ ]:
x = [10,20,50,100,200,1_000,2_000,5_000,10_000]
y = []
for n in x:
  # append to z for 10 iterations
  z = []
  for _ in range(10):
    # compute e_n, and then z
    en = 
    z.append(?)
  # compute the mean and append to y
  zn = np.mean(z)
  y.append(zn)
  print(f'n={n}, zn={zn}')

### Plot $z_n$
Plot $z_n$ versus n and make a comment on the graph you have plotted.

Let's use matplotlib directly for our plotting this time.

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
ax.plot(x,y)
plt.show()

What do we observe in the above?

Hint: try a log scale for the axes.